//MMCSS overrides
$color-primary: #1abc9c;
$color-header-default-background: #171f26;
$color-header-default-text: #fafafa;
$color-sub-header-default-background: #171f26;
$color-sub-header-default-text: #fafafa;