extends ./_layouts/_layout-page.pug

block vars
    - var title = '404 Not Found'
    - var description = 'Requested URL was not found on the server.'

block page-content
    p.text-large.text-center Please make sure you typed the address correctly.
