extends ./_layouts/_layout-page.pug

block vars
  - var title = 'Contact'
  - var description = 'Contact the MMPilot team'

block page-content
  .container-readable
    p.text-center Please use the #[a(href=site.github + "issues/new", target="_blank") Issues] section to report issues in mmpilot.
      br
      | If you have any other query or suggestion then kindly get in touch using the contact form below.
    iframe(src="https://contact.kunruchcreations.com/mmpilot", width="100%", height="900", frameborder="0", scrolling="no") Browser not supported