extends ./_layouts/_layout-main.pug

block vars
    - var title = 'Minimal Modern Static Site Generator'
    - var description = 'A modern static website generator powered by Node.js. Fast and easy to use with live reload. Code in Pug and SCSS.'

block content
    div.section-hero.sub-header-dark.text-center
        .container-content
            h2.h1 A Minimal Modern Static Site Generator
            p.text-center.text-muted Powered by <a href="https://nodejs.org/" target="_blank">Node.js</a> - MIT License
            .text-center(style="margin-top:40px;")
                a.button.button-primary(href="#quickstart") Quickstart Guide
    .section.highlight
        .container-content
            .grid
                .one-fourth.section
                    .media
                        .thumbnail.thumbnail-medium.aligncenter
                            <svg class="icon icon-desktop" style="color: #444;"><use xlink:href="#icon-desktop"></use></svg>
                        .media-body.text-center
                            h3(style="margin-top:0;") Static Sites
                            p In-built support for <a href="https://pugjs.org/" target="_blank">Pug</a> and <a href="http://sass-lang.com/" target="_blank">Sass</a> for modern web templating and styling workflow. Build static sites in no time.
                .one-fourth.section
                    .media
                        .thumbnail.thumbnail-medium.aligncenter
                            <svg class="icon icon-thumbs-o-up" style="color: #444;"><use xlink:href="#icon-thumbs-o-up"></use></svg>
                        .media-body.text-center
                            h3(style="margin-top:0;") Beginner Friendly
                            p No complex setup or build scripts to learn. Simple configuration file and project structure. Become a pro in minutes.

                .one-fourth.section
                    .media
                        .thumbnail.thumbnail-medium.aligncenter
                            <svg class="icon icon-upload" style="color: #444;"><use xlink:href="#icon-upload"></use></svg>
                        .media-body.text-center
                            h3(style="margin-top:0;") Easy Deploys
                            p.
                              Deploy to  free hosting offered
                              by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
                              and <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a>
                              with a single command.

                .one-fourth.section
                    .media
                        .thumbnail.thumbnail-medium.aligncenter
                            <svg class="icon icon-magic" style="color: #444;"><use xlink:href="#icon-magic"></use></svg>
                        .media-body.text-center
                            h3(style="margin-top:0;") Fast Builds
                            p MMPilot can watch for and build incremental changes. Test sites on localhost, browser auto reloads on changes like magic!

    #quickstart.section-medium
        .container-readable
            h2.section-title.text-center Quickstart Guide
            code(style="font-size:120%; padding: 5px 32px; display: inline-block; margin: 16px 16px 32px 0;") Coming Soon..
