---
title: 'Minimal Modern Static Site Generator'
description: 'A modern static website generator powered by Node.js. Fast and easy to use with live reload. Code in Pug and SCSS.'
layout: 'home'
---

div.section-hero.sub-header-dark.text-center
  .container-content
    h2.h1 A Minimal Modern Static Site Generator
    p.text-center.text-muted Powered by <a href="https://nodejs.org/" target="_blank">Node.js</a> - MIT License
    .text-center(style="margin-top:40px;")
      a.button.button-primary(href="#quickstart") Quickstart Guide
.section.highlight
  .container-content
    .grid
      .one-fourth.section
        .media
          .thumbnail.thumbnail-medium.aligncenter
            <svg class="icon icon-desktop" style="color: #444;"><use xlink:href="#icon-desktop"></use></svg>
          .media-body.text-center
            h3(style="margin-top:0;") Static Sites
            p In-built support for <a href="https://pugjs.org/" target="_blank">Pug</a> and <a href="http://sass-lang.com/" target="_blank">Sass</a> for modern web templating and styling workflow. Build static sites in no time.
      .one-fourth.section
        .media
          .thumbnail.thumbnail-medium.aligncenter
            <svg class="icon icon-thumbs-o-up" style="color: #444;"><use xlink:href="#icon-thumbs-o-up"></use></svg>
          .media-body.text-center
            h3(style="margin-top:0;") Beginner Friendly
            p No complex setup or build scripts to learn. Simple configuration file and project structure. Become a pro in minutes.

      .one-fourth.section
        .media
          .thumbnail.thumbnail-medium.aligncenter
            <svg class="icon icon-upload" style="color: #444;"><use xlink:href="#icon-upload"></use></svg>
          .media-body.text-center
            h3(style="margin-top:0;") Easy Deploys
            p.
              Deploy to  free hosting offered
              by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
              and <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a>
              with a single command.

      .one-fourth.section
        .media
          .thumbnail.thumbnail-medium.aligncenter
            <svg class="icon icon-magic" style="color: #444;"><use xlink:href="#icon-magic"></use></svg>
          .media-body.text-center
            h3(style="margin-top:0;") Fast Builds
            p MMPilot can watch for and build incremental changes. Test sites on localhost, browser auto reloads on changes like magic!

#quickstart.section-medium
  .container-readable
    h2.section-title.text-center Quickstart Guide
    h3.h4 Install
    p Usually you only need to install MMPilot local to your porject, however we recommend installing globally too, as it will help you create new projects.
    pre npm install mmpilot -g

    h3.h4 Create New Project
    p You can use MMPilot to create a new project using the <code>mmpilot new web</code>command followed by your project name. For example:
    pre mmpilot new web mywebsite

    h3.h4 Build Project
    p Projects can be built by simply issuing the following command
    pre mmpilot build
    p To specify a debug environment use the following:
    pre mmpilot build -d

    h3.h4 Deploy to gh-pages
    p Deploy your built sites to gh-pages on GitHub automatically using the following command:
    pre mmpilot deploy

    h3.h4 Next Steps
    ul.bare
      li <a href="/docs">View Documentation</a> - Learn how to use MMPilot to build your web projects.
      li <a href="/guides">Read Guides</a> - Tutorials for using MMPilot to build your websites.
      li <a href="/templates">Templates</a> - Ready made templates to help you get started quickly with your own Web Design projects.
      li <a href="/showcase">Showcase</a> - See how other sites are using MMPilot.