extends ./_layouts/_layout-page.pug

block vars
    - var title = 'Showcase'
    - var description = 'Find here some of the best static sites built using MMPilot'

block page-content
    .container-content
      .section
        .grid
          each site in data.showcase
            .one-third
              .media
                img(src="http://placehold.it/320x245")
                .media-body
                  .text-center
                    a(href=site.url, target='_blank')= site.name
      .section
        p.text-center Want to submit your site to showcase?<br><a href="http://kunruchcreations.com/about-us/contact/" target="_blank">Get in touch</a>
