---
title: 'Templates'
description: 'Use these MMPilot templates to get started quickly with your own Web project.'
layout: 'page'
---

.container-readable
  .section
    h2.h3.section-title <a href="https://github.com/kunruch/mmpilot-basic-template" target=_blank">MMPilot Basic Template</a>
    p This is a basic starter template for MMPilot - It doesn't include any CSS framework or JavaScript libraries. It has just the bare bone files to kickstart your website with MMPilot.
    hr
  .section-medium
    p.text-center Want to submit a template? <a href="/contact/">Get in touch</a>
