extends ./_layouts/_layout-page.pug

block vars
    - var title = 'Templates'
    - var description = 'Use these MMPilot templates to get started quickly with your own Web project.'

block page-content
    .section-large
      p.text-large.text-center Coming Soon..
    .section
      p.text-center Want to submit a template? <a href="http://kunruchcreations.com/about-us/contact/" target="_blank">Get in touch</a>
