---
title: 'Templates'
description: 'Use these MMPilot templates to get started quickly with your own Web project.'
layout: 'page'
---

.container-readable
  .section
    h2.h3.section-title <a href="https://github.com/kunruch/mmpilot-basic-template" target="_blank">Basic Template</a>
    p This is a basic starter template for MMPilot - It doesn't include any CSS framework or JavaScript libraries. It has just the bare bone files to kickstart your website with MMPilot.
    p You can run the following command to create this template
    pre
      code mmpilot new basic &lt;proj-name&gt;
  .section
    h2.h3.section-title <a href="https://github.com/kunruch/mmpilot-mmcss-template" target="_blank">MMCSS Template</a>
    p This is a starter template for MMPilot with MMCSS included. It does not include any JavaScript libraries. It has just the bare bone files to kickstart your website with MMPilot and MMCSS.
    p You can run the following command to create this template
    pre
      code mmpilot new mmcss &lt;proj-name&gt;
  .section
    h2.h3.section-title <a href="https://github.com/kunruch/mmpilot-bootstrap-template" target="_blank">Bootstrap Template</a>
    p This is a starter template for MMPilot with Bootstrap 4 and jQuery included. It has just the bare bone files to kickstart your website with MMPilot and Bootstrap 4.
    p You can run the following command to create this template
    pre
      code mmpilot new bootstrap &lt;proj-name&gt;
  .section-medium
    p.text-center Want to submit a template? <a href="/contact/">Get in touch</a>
