extends ./../layouts/_layout-page.pug

block vars
    - var title = 'Documentation'
    - var description = 'Learn about MMPilot\'s command line params, structuring your projects and more..'

block page-content
    .section-large
      p.text-large.text-center Coming Soon..
