extends ./../_layouts/_layout-docs.pug

block vars
  - var title = 'Installation'
  - var description = 'Learn how to install MMPilot and use it in your web projects.'

block docs-content
   .section
    p.text-large.text-center Docs are being written..