---
title: 'Project Structure'
description: 'Recommended way to structure your project when using MMPilot static site generator.'
layout: 'docs'
---

p.
  When building with MMPilot, you can refer to the following project structure for placing your files. Note that this is just a recommended project structure and you can override this using the <code>_mmpilot.yml</code> configuration file.

h2.h4 assets
p This folder contains all your static assets such as images, favicon and anything else that you want to be copied directly (without modifying) to the output folder.

h2.h4 data

p You can place site specific data in this folder. Both <code>yml</code> as well as <code>json</code> files are accpeted. You can also export modules from this folder which dynamically fetch data before building the site. 

h2.h4 html

p Your HTML source files go here. You can either write <code>.pug</code> (<A href="https://pugjs.org/api/getting-started.html">PugJS</a>) files or <code>.md</code> (markdown) files and they will get compiled into html files. URL structre is maintained same as folder strucutre. Moreover if you have clean URLs turned on, a file like <code>about.md</code> will produce a file at <code>/public/about/index.html</code>

h2.h4 html/_includes

p You can add PUG mixins here and any other include files that you may want to include inside pug templates such as SVG icons, inline CSS or JavaScript.

h2.h4 html/_layouts

p This folder contains layout files used for rendering the pug templaces. A default layout <code>_layout-default.pug</code> is required here when you don't specify any layout for your HTML source files. Alternatively, if you do specify a layout inside the front matter of your HTML source file then a corresponding layout (<code>_layout-&lt;layoutname&gt;.pug</code>) should be placed in this folder. 

h2.h4 html/blog

p This folder can be used to write blog posts. The folder contains a <code>_blog.yml</code> file to specify the blog configuration. Posts can be nested inside subfolders, however they will always follow the path specified by the configuration file. You can create multiple blogs by creating different folders (with different names) and adding a blog configuration file inside the folder.

h2.h4 public

p This is the default output folder of your project where the built files are copied to. Generally, this is the only folder which is deployed to your webserver and is set as root of your website.

h2.h4 scripts

p Add your JavaScript files here. By default, no processing is done on the JavaScript files and they get directly copied into the output directory. However, you can easily modify this behaviour to transform your JavaScript files in the way you want for example with <a href="https://babeljs.io/">Babel</a>.

h2.h4 styles

p Your stylesheets are written in <a href="http://sass-lang.com/">SCSS</a> format and placed in this folder. This allows you to write modular CSS. You can also add additional frameworks like <a href="http://getbootstrap.com/">Bootstrap</a> or <a href="https://mmcss.kunruchcreations.com/">mmcss</a> in your project.

h2.h4 _mmpilot.yml

p If you need to override the default project structure then they can be specifed in the <code>_mmpilot.yml</code> which is the main configuration file for MMPilot. This config file can also contain data in YML format which gets passed onto the pug templates.

p Additionally, this config file can specify redirected URLs. An equivalent HTML file will be generated automatically for given redirect paths using the <code>meta http-equiv="refresh"</code> tag.
  
p A sample configuration is show below which overrides most of the project's default path, setup redirects and specified additional data in production as well as development environment.

pre
  code.
    ## data for building web project
    includes: "web/html/_includes"
    layouts: "web/html/_layouts"
    html:
      src: "web/html"
    styles:
      src: "web/css"
    assets:
      src: "web/assets"
    scripts:
      src: "web/js"
    data: "web/data"

    ## redirected URLs
    redirected:
      - from: /feed
        to: /feed.xml

    ## additional data for site available as site.{key} in pug templates
    site:
      url: "https://mmpilot.kunruchcreations.com/"
      title: MMPilot
      icon: mmpilot
      github: "https://github.com/kunruch/mmpilot/"
      twitter: "https://twitter.com/kanishkkunal"
      analytics: "UA-37350394-13"

    ## overrides when built with -d or --development option
    development:
      site:
        url: "http://localhost:3000/"
        analytics: "" #don't count hits from localhost in analytics