mixin menu(list)
  nav(role="navigation")
    ul.menu
      each item in list
        +menuitem(item)

mixin submenu(item)
  if item.children
    ul.submenu
      each subitem in item.children
        +menuitem(subitem)

mixin menuitem(item)
  li(class=['menu-item'], class={'current-menu-item': page.path == item.url})
    a(href=item.url)&attributes(item.attributes) #{item.title}
    +submenu(item)
