extends ./_layout-root.pug

block content
  article
    .sub-header-dark.section-large.text-center
      .container-readable
        h1.section-title #{page.title}
        p.text-muted.text-large #{page.description}
    .section-medium!= page.content